@import '/node_modules/flowbite-vue/dist/index.css';

html {
  background: #e9e9ea;
}
a {
  color: #ed2228;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
main {
  margin: auto;
  padding: 1rem;
  width: 1200px;
  max-width: calc(100% - 2rem);
  color: black;
  font-size: 1.5rem;
  line-height: 1.6;
}
.btn {
  background-color: #ed2228;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  display: block;
  width: 190px;
  text-align: center;
}
h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
  margin-top: 2rem;
  margin-left: 10%;
  padding: 0 1rem;
  border-left: 5px solid #ff0000;
}

ul {
  /* internal bullets */
  list-style-type: disc;
  padding-left: 2em;
}
li {
  margin-bottom: 0.5em;
}
li:last-child {
  margin-bottom: 0;
}

#its-your-province-take-it-back {
  margin-top: 60px;
  text-align: center;
}